services:
  postgres:
    image: "postgres:14"
    expose:
      - 5432
    volumes:
      - "./postgres:/var/lib/postgresql/data"
    environment:
      - POSTGRES_HOST_AUTH_METHOD=trust

  autoclear:
    build: .
    depends_on:
      - postgres
    init: true
    links:
      - postgres
    restart: unless-stopped
